
{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% load custom_tags %}

{% block title %}
News
{% endblock title %}


{% block content %}
    <h2>Все новости</h2>
    <hr>
    <h3>Всего новостей: {{ posts|length }}</h3>
    <hr>
    {% load cache %}
    {% cache 200 filter %}
    <form action="" method="get">
        {{ filterset.form.as_p }}
        <input type="submit" value="Поиск"/>

    </form>
    {% endcache %}
    {% if is_not_subscribe %}
    <form action="subscribe/" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="cat" value="{{ request.GET.category }}">
        <input type="submit" value="Подписаться"/>
    </form>
    {% endif %}
    {% if is_subscribe %}
    <form action="notsubscribe/" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="cat" value="{{ request.GET.category }}">
        <input type="submit" value="Отписаться"/>
    </form>
    {% endif %}

    <table>
        <tr>
            <td>Заголовок</td>
            <td>Дата публикации</td>
            <td>Превью статьи</td>
            <td>Страница новости</td>
        </tr>
        {% for post in posts %}
        <tr>
            <td>{{ post.post_head | censor }}</td>
            <td>{{ post.time_in | date:'M d Y' }}</td>
            <td>{{ post.post_text | truncatechars:20 | censor }}</td>
            <td><a href="http://127.0.0.1:8000/portal/{{ post.id }}">Перейти</a></td>
        </tr>
        {% endfor %}

    </table>

    {% if page_obj.has_previous %}
       <a href="?{% url_replace page=1 %}">Первая страница</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">Страница {{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}


    Страница {{ page_obj.number }}


   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">Страница {{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">Последняя страница</a>
       {% endif %}
   {% endif %}

{% endblock content %}